body {
  min-height: 100vh;
}
main {
  display: grid;
  grid-template-columns: repeat(2, 450px);
  grid-template-rows: 400px 400px;
  gap: 1rem;

  background-image: url(../img/library.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
p {
  font-family: system-ui;
  font-size: 1.2rem;
  font-weight: 300;
  background-color: #ddd;
  margin: 0;
  padding: 1rem;
}
img {
  vertical-align: text-top;
  width: 400px;
  margin: 1rem 0 0 0;
}
